spack:
  specs:
  - mppnccombine-fast@git.{{ ref }}
  packages:
    intel-oneapi-compilers-classic:
      require:
      - '@{{ intel_compiler_version }}'
    all:
      require:
      - '%access_intel'
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false
